.vscode
WorkLog.md
checkpoints/
__pycache__/
results/
saved/
saved_model_data
temp/
predictions/
results/
logs/
data/*
*.torch
*.csv
*.data
*.bin
Worklog.md
*.ipynb
*.txt
*.pcd
*.pkl
*.log
*.code-workspace

